<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="EN">
    <head>
        <meta charset="utf-8"/>
        <title>Super Shop</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <br>
            <div th:replace="~{navigation :: navigation(Home)}" />
            <br>
            <div style="text-align: center;">
                <h1>Home Budget</h1>
            </div>

            <hr>

            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Дата</th>
                    <th>Остаток</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="remains, iterator : ${listremains}">
                        <span>
                            <td th:text="${iterator.index + 1}"/>
                            <td>
                                <div sec:authorize="isAuthenticated()">
                                    <a th:href="@{'/remains/' + ${remains.id}}">Обороты за день</a>
                                </div>
                            </td>
                            <td th:text="${#dates.format(remains.date, 'dd-MM-yyyy')}"/>
                            <td th:text="${remains.amount}"/>
                        </span>
                    </tr>
                </tbody>
            </table>
            <hr>

                <div class="col-sm">
                    <a sec:authorize="hasRole('ADMIN')" class="nav-link" th:href="@{/admin}" th:text="admin">ADMIN</a>
                </div>
            </div>

        </div>
    </body>
</html>