<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Home Budget</title>
        <link rel="stylesheet" th:href="@{../static/css/stylesheet.css}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <br>
            <div th:replace="~{navigation :: navigation(Home)}" />
            <br>
            <h1>Профиль</h1>
            <h5 th:text="'Name: ' + ${participant.firstName} + ' ' + ${participant.lastName}" />
            <h5 th:text="'Login: ' + ${participant.login}" />
        </div>
        <hr>
        <h2 style="text-align: center"> Мои обороты</h2>
        <div class="container">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Вид оборота</th>
                    <th>Дата</th>
                    <th>Сумма</th>
                </tr>
                </thead>
            </table>
        </div>
    </body>

</html>